<div id="clic">
  <h3 class="text-center">Ma dernière partie</h3>
  <table class="table table-striped">
    <thead>
    <th>N° du clic</th>
    <th>Temps</th>
    </thead>
    <tbody>
      <tr *ngFor="let click of (lastGameClicks$|async)">
        <td>{{click.clickNumber}}</td>
        <td>{{click.time  / 100}} s</td>
      </tr>
    </tbody>
  </table>
</div>
<div id="moyTime">
  <p class="text-center" *ngIf="lastGame$|async as last"> Temps moyen : {{last.moyTime / 100}} secondes</p>
</div>
<div id="scores">
  <h3 class="text-center">Mes parties</h3>
  <table class="table table-striped">
    <thead>
    <th>Pseudo</th>
    <th>Temps moyen</th>
    <th>Le plus rapide</th>
    <th>Info sur les clics</th>

    </thead>
    <tbody>
      <tr *ngFor="let score of scores$|async">
        <td>{{score.pseudo}}</td>
        <td>{{score.moyTime  / 100}} s</td>
        <td>{{score.bestTime  / 100}} s</td>
        <td>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#clickInfo" (click)="showClicks(score.id)">
            INFOS
          </button>

        </td>
      </tr>
    </tbody>
  </table>
</div>




<!-- Modal -->
<div class="modal fade" id="clickInfo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Info clics </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
          <th>Clic</th>
          <th>Temps</th>
          </thead>
          <tbody>
            <tr *ngFor="let clic of clicScoreList$|async">
              <td>{{clic.clickNumber}}</td>
              <td>{{clic.time / 100}} s</td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
