<div id="scores">
  <table class="table table-striped">
    <thead>
    <th>Pseudo</th>
    <th>Temps moyen</th>
    <th>Le plus rapide</th>
    <th>Info sur les clics</th>

    </thead>
    <tbody>
      <tr *ngFor="let score of scores$|async | slice:0+(configElementPage*(currentPage-1)):configElementPage+(configElementPage*(currentPage-1));  let i = index">
        <td>{{score.pseudo}}</td>
        <td>{{score.moyTime  / 100}} s</td>
        <td>{{score.bestTime  / 100}} s</td>
        <td>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#clickInfo" (click)="showClicks(score.id)">
            INFOS
          </button>

        </td>
      </tr>
    </tbody>
  </table>
</div>


<div class="col-md-12 text-center">
  <p>Page</p>
  <button *ngFor="let page of pages; let i = index" type="button" class="btn btn-primary" (click)="thisPage(page)">{{page}}</button>
</div>


<app-click-info [idGame]="gameId"></app-click-info>

